/* PLACE YOU CUSTOM STYLES IN THIS FILE */
p.lead.mission {
    min-height: 300px;
}

/* TODO: only for testing */
.leon-test-class {
    height: 1220px !important;
}

.roadmap-container {
    .main-title {
        width: 100%;
        color: #fff;
        text-align: center;
    }
    .slider {
        position: relative;
        display: flex;
        height: 200px;
        margin: 80px 0;
        perspective: 1000px;
    }

    .slide {
        position: absolute;
        display: inline-block;
        width: 400px;
        margin-left: -50px;
        color: #fff;
        background: linear-gradient(90deg, rgb(79 79 79 / 100%) 0%, rgb(46 46 50 / 100%) 50%, rgb(12 7 7 / 100%) 100%);
        background-clip: content-box, border-box;
        background-origin: border-box;
        border: double 1px transparent;
        border-radius: 30px;
        transition: .4s all;
        backface-visibility: hidden;
        backdrop-filter: blur(10px);
    }

    @media screen and (max-width: 768px) {
        .slide:not(.active) {
            filter: blur(20px);
            backdrop-filter: unset;
        }
    }

    @media screen and (max-width: 425px) {
        .slide.active {
            width: 250px;
            margin-left: 7%;
        }
    }

    .slide-container{
        padding: 20px 30px;
    }

    .slide-container ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .slide-container ul li{
        padding: 0;
    }

    .slide.active {
        z-index: 4;
    }
}

.leon-story-container {
    background-image: url("../images/blue_grizzly.jpg");
    background-size: cover;
}

.our-token-container {
    background-image: url("../images/blue_grizzly.jpg");
    background-size: cover;
}

.video-container {
    position: relative;

    .background-video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        background-size: cover;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

.nav-buy-leon {
    float: right;
    width: 140px;
    font-weight: 700;
    color: #000;
    background: #fff;
    border: 1px solid #000;

    &.leon-marketplace {
        margin-left: 20px;
    }
}

.leon-btn-top {
    min-width: 200px;
    margin-left: 15px;
    font-weight: 700;
    line-height: 25px;
    border-radius: 100px;

    &.leon-btn-whitepaper {
        background: linear-gradient(90deg, rgb(9 182 212 / 100%) 0%, rgb(9 182 212 / 100%) 39%, rgb(183 85 2 / 100%) 59%);
    }

    &.leon-btn-audit,
    &.leon-btn-trailer {
        background: transparent;
    }

    &.disabled:focus {
        color: #e08821;
    }

    &.disabled {
        cursor: not-allowed;
        opacity: .8;
    }

    @media screen and (max-width: 375px) {
        padding: 10px 14px;
    }
}

.leon-footer {
    background-image: url("../images/points-bg.png") !important;
}

.leon-tokenomics-table {
    padding: 28px;
    background: rgb(31 41 55 / 50%);
    border: .5px solid rgb(255 255 255 / 40%);
    border-radius: 24px;
    backdrop-filter: blur(3px);
}

.card-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    margin: 10px 0;
    background: rgb(66 66 66);
    border-radius: 10px;

    .card-item {
        display: flex;
        align-items: center;
    }

    .card-item:nth-child(2) {
        min-width: 50px;
    }

    &.card-title {
        background: transparent !important;
        border-bottom: 1px solid rgb(75 94 117 / 15%);
    }
}

.fw-bold {
    font-weight: 700 !important;
}

.wd-35 {
    width: 35%;
}

.dot {
    width: 15px;
    min-width: 15px;
    height: 15px;
    margin-right: 8px;
    border-radius: 15px;

    &.bgcolor-1 {
        background: rgb(114 232 255);
    }

    &.bgcolor-2 {
        background: rgb(0 194 255);
    }

    &.bgcolor-3 {
        background: rgb(72 141 255);
    }

    &.bgcolor-4 {
        background: rgb(78 87 255);
    }

    &.bgcolor-5 {
        background: rgb(157 97 255);
    }

    &.bgcolor-6 {
        background: rgb(231 127 255);
    }

    &.bgcolor-7 {
        background: rgb(225 84 177);
    }
}

.leon-lang-dropdown {
    display: inline-block;
    float: right;
    margin-right: 5rem;
    margin-left: 20px;

    .dropbtn {
        padding: 5px;
        font-size: 16px;
        color: #000;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #000;

        span {
            margin-right: 5px;
        }
    }

    .dropdown-content {
        position: absolute;
        display: none;
        min-width: 160px;
        background-color: #f9f9f9;
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
        z-index: 1;

        a {
            display: flex;
            align-items: center;
            padding: 12px 16px;
            color: black;
            text-decoration: none;

            &:hover {
                background-color: #f1f1f1;
            }

            span {
                margin-right: 10px;
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .wd-sm-30 {
        width: 30%;
    }
}

@media screen and (min-width: 768px) {
    .card-row .card-item:nth-child(1) {
        min-width: 230px;
    }
    .card-title .card-item:nth-child(1) {
        min-width: 197px;
    }
}

@media screen and (max-width: 980px) {
    .nav-buy-leon {
        float: left;
        margin-left: 20px;

        &.leon-marketplace {
            margin-bottom: 10px;
        }
    }

    .leon-lang-dropdown {
        float: left;
        margin-bottom: 10px;

        .dropdown-content {
            max-height: 100px;
            overflow: auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .leon-tokenomics-table {
        font-size: 10px;
    }

    .tokenomics-title {
        font-size: 10px;
    }

    .card-title.card-row .card-item:nth-child(1) {
        min-width: 50px;
    }

    .card-row .card-item:nth-child(1) {
        min-width: 120px;
    }

    .leon-btn-top {
        min-width: 15px;
        font-size: 15px;
        line-height: 15px;
    }

    .nk-nav-icons {
        .mobile-menu-icon {
            height: 1.3rem;
        }
    }

    .nav-buy-leon {
        max-width: 110px !important;
        font-size: 12px !important;
    }

    .nk-title.display-3 {
        top: -20px;
    }
}

@media screen and (max-width: 431px) {
    .nk-title.display-3 {
        margin-left: 67px;
        font-size: 30px;
        top: -15px;
    }

    .nk-nav-logo img {
        position: relative;
        left: -10px;
        max-width: 150px;
    }

    .nk-share-buttons.nk-share-buttons-left{
        top: 20px;
        left: -10px;
    }

    .leon-btn-top {
        margin-top: 40px;
    }

    .nk-header-title {
        .bg-image img {
            width: 150%;
            height: auto;
            margin-left: -22%;
        }
    }
}

@media screen and (max-width: 376px) {
    .nk-title.display-3 {
        position: relative;
        top: 0;
        left: 3rem;
        margin-left: unset;
        font-size: 25px;
    }
}

@media screen and (max-width: 321px) {
    .leon-btn-top {
        line-height: 10px;
    }

    .nk-title.display-3 {
        position: relative;
        top: 3.5rem;
        left: 1rem;
        font-size: 30px;
    }
}

@media screen and (max-width: 1441px) {
    .nav-buy-leon {
        font-size: 10px;
        max-width: 90px;
    }

    .leon-lang-dropdown {
        .dropdown-content {
            min-width: unset;
            max-width: 120px;
        }
    }
}

@media screen and (max-width: 1441px) {
    .nav-buy-leon {
        font-size: 9px;
        max-width: 82px;
        line-height: 25px;
    }

    .leon-lang-dropdown {
        .dropdown-content {
            min-width: unset;
            max-width: 120px;
        }
    }
}

@media screen and (max-width: 1327px) {
    .nav-buy-leon {
        font-size: 8px;
        max-width: 76px;
    }
}

@media screen and (max-width: 1315px) {
    .d-lg-leon {
        display: block !important;
    }
}

@media screen and (min-width: 1315px) {
    .d-lg-leon-block {
        display: block !important;
    }
}

